
.first-section {
    background-color: #FAFAFA;
}
.second-section{
    /* background-image: url(../images/img/hero_static__c07b68h6ap2e_small_2x.jpg); */
    /* height: 580px; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fafafa;; */
}
.third-section{
    color: #000000;
    background-image: url(../images/home/iphone11-bg.jpg);
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fourth-section .right{
    background-color: #F9F9F9;
    color: #000000;
    background-image: url(../images/home/watch.jpg);
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.fourth-section .left{
    background-color: #F9F9F9;
    color: #000000;
    background-image: url(../images/home/apple-card.jpg);
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.fifth-section .right{
    background-image: url(../images/home/apple-tv-background.jpg);
    height: 580px;
    /* background-color: #000; */
    background-position: center;
}
.servant-logo{
    margin-top: 120px;
}
.fifth-section .left{
    color: #fafafa;
    background-color: #000000;
    background-image: url("../images/home/apple-tv-background.jpg");
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.fifth-section .left{
    background-image: url(../images/home/air-pods.jpg);
    height:  580px;
}
.section-six .right{
    background-image: url(../images/home/macbook-pro.jpg);
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #F9F9F9;
}
.section-six .left{
    background-image: url(../images/home/new-ipad.jpg);
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.watch-more-wrapper {
    padding-top: 130px;
}
.servant-logo{
    margin-top: 200px;
}
.watch-more-wrapper a{
	text-decoration: none;
	font-size: 0.85em;
    margin-top: px;
}
.watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}
/* section ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}  */
.third-section-wrapper ul li a{
    color: black;
}
section ul a:hover{
    color: chocolate;
}
h6{
    color: #86868b; 
}
/* .slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: max-content;
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.tach1,
.tach2{
    width: 200px;
}
.tach4{
    width: 470px;
}
.tach5{
    width: 270px;
} */
.scroll-container {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.scroll-container > div {
  scroll-snap-align: start;
}